<% for student in @students %>
<p><b>First Name: </b><%= student.first_name %></p>
<p><b>Second Name: </b><%= student.second_name %></p>
<p><b>House: </b><%= student.house().house_name %></p>
<p><b>Age: </b><%= student.age %></p>
<hr />
<% end %>
