<form action="/students" method="post">
  <label for="first_name" >First Name: </label>
    <input type="text" name="first_name" id="first_name" />
  <label for="second_name" >Second Name: </label>
    <input type="text" name="second_name" id="second_name" />
  <label for="house_select">House</label>
    <select id="house_select" name="house">
      <% for house in @houses %>
      <option value="<%= house.house_name %>"><%= house.house_name %></option>
      <% end %>
    </select>
  <label for="age" >Age: </label>
    <input type="text" name="age" id="age" />

  <input type="submit" value="Create Student">
</form>
